@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.main__nav a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
}

.main__nav a:nth-child(1) {
    color: #979797 !important;
}

.main__nav a:hover {
    opacity: 0.5;
    border-bottom: 1px solid black;
}

.customer__information {
    margin-top: 5%;
}

.cont__shopping-title {
    font-size: 15px;
}

.cont__shopping-title a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

.cont__shopping-title a:hover {
    color: black;
    opacity: 0.5;
}

.input-form {
    margin-left: 90px;
}

.continue__shopping {
    margin-left: -15%;
}

.input-text {
    margin-top: 30px !important;
}

.input-text .required {
    color: #979797;
}

.required__label {
    margin-left: -8%;
}

.payment__method h2 {
    position: relative;
    left: 100px;
    top: -40px;
}

.payment__method .row {
    margin-left: 30%;
}

.payment__item div:nth-child(1) img {
    margin-top: -30%;
}

.pt-p13 {
    padding-top: 13% !important;
}

.product__list {
    margin-left: 8%;
}

.voucher__area input {
    padding: 10px;
    border: 1px solid #979797;
    outline: #979797;
}

.voucher__area input::placeholder {
    color: #979797;
}

.voucher__area .col button {
    background: #000;
    color: #fff;
    font-weight: 600;
    padding: 8px;
    transition: all 0.3s ease-in-out;
}

.voucher__area .col button:hover {
    opacity: 0.7;
}

.payment__item button,
.submit-order {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.payment__item button:hover,
.submit-order:hover {
    opacity: 0.7;
}

.sm-90 {
    font-size: 90% !important;
}

.footer {
    width: 99%;
    background: #000;
    color: #fff;
    padding: 50px 100px;
}

.footer h1 {
    font-weight: 600;
}

.socials {
    margin-left: 5%;
}

.mt-90 {
    margin-top: 90px !important;
}

.ml-p10 {
    margin-left: 10% !important;
}

.w-120 {
    width: 120% !important;
}

.congrat-icon {
    margin-top: 112px !important;
}

#congrat {
    width: 225px;
    height: 225px;
}

.back-to-home {
    width: 15% !important;
    padding: 10px;
    background: #000;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.back-to-home:hover {
    opacity: 0.5;
    color: #fff;
}

.product__image {
    width: 300px;
    height: 300px;
}

.product__item {
    box-shadow: 1px 0px 50px 1px rgba(0, 0, 0, 0.2);
}

#pay-action:disabled {
    opacity: 0.5;
}

